*{border:1px solid black;}
body{margin: 0; padding: 0;}

.container{
  overflow:hidden;
  font-family: 'Lato', sans-serif;
  margin: 4% 10% ;
  padding:10px;
  border: solid lightgrey 0.5px;
  border-radius: 2px;
}
.heading{ text-align:center;}
hr{
  width: 70%;
  align-content:center;
  border: 1px solid grey; 
}
#logo{  
  height: 5%; width: 5%;
  padding:4px;}
ol{
  text-align: center;
display: flex;
flex-direction: column;}

.ratings
{position: relative;}

.ratings input{
  display: none;
}
.ratings label{
  cursor: pointer;
  display:inline-block;


}
.ratings label::before
{
  content:'\f005';
  font-family: fontAwesome;
  font-size: 1.9em;
  letter-spacing: 15px;
  color: darkslategrey;
  align-content:center;
  position: relative;

}
.ratings label::after
{
  content:'\f005';
  font-family: fontAwesome;
  font-size: 1.9em;
  letter-spacing: 15px;
  color: gold;
  align-content:center;
  position: relative;

}


