
body{margin: 0; padding: 0;}
/* overall form area */
.container{
  overflow:hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: 'Lato', sans-serif;
  margin: 4% 10% ;
  padding:10px;
  border: solid lightgrey 0.5px;
  border-radius: 2px;
}
.heading{ text-align:center;}
hr{
  width: 70%;
  align-content:center;
  border: 1px solid grey; 
}
/* amazon picture */
#logo{  
  height: 5%; width: 5%;
  padding:4px;
  position: relative;}
/* star-ratings-area */
.ratings{
  display: flex;
  flex-direction: column;
  text-align:center;
  /* align-items: center; */
}

  /* star rating css */
.rating-box
{ 
  direction:rtl;
  display:flex;
flex-direction: row;
justify-content:center;}
  .select
  {
     opacity:0; 
  }
  .star-dec{
    cursor:pointer;
    font-size: 30px;
    padding:2%;
   }
   .star-dec:hover
   {
    color: #fad634;
    transition: 0.4s;
   }
   .rating-box label:hover ~ label,.rating-box input:checked ~ label
   {
    color: #fad634;
    transition: 0.3s;
   }
